:root {
    --color-primary: #9F63FF;
    --color-secondary: #F357FF;
    --color-tertiary: #B34FE8;
    --color-fourth: #604FE8;
    --color-fifth: #5771FF;

    --color-primary-dark: #503280;
    --color-secondary-dark: #281940;
    --color-tertiary-dark: #8F5AE6;

    --color-primary-light: #FF9E7D;
    --color-secodary-light: #FFF84A;
    --color-tertiary-light: #57FFD9;

    --color-black: #111111;
    --color-white: #fffafa;

    --color-grey: #11111158;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    text-decoration: none;
    color: var(--color-blak);
}
a:hover {
    cursor: pointer;
}
textarea, input {
    border: none;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: var(--color-blak);
    background-color: var(--color-primary);
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header > nav {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

header > nav > a > img {
    width: 12rem;
    height: 5rem;
}

header > nav > ul {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

header > nav > ul > li > a {
    background-color: var(--color-secondary-dark);
    margin-left: 1rem;
    padding: .5rem;
    border-radius: .8rem;
    color: var(--color-white);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
}


.container > #content {
    width: 80vw;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
}
.cards > .card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey);
    width: 14.375rem;
    height: 18.75rem;
    border-radius: .8rem;
    margin: 1rem;
}
.cards > .card > .top_card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.375rem;
    height: 4rem;
    border-bottom: .1rem;
    border-style: solid;
    border-color: var(--color-black);
}
.cards > .card > .content_card {
    display: flex;
    width: 14.375rem;
    height: 8.75rem;
}
.cards > .card > .content_card > img {
    width: 14.375rem;
    height: auto;
    opacity: 0.5;
}
.cards > .card > .description_card {
    display: flex;
    align-items: center;
    width: 14.375rem;
    height: 6rem;
    border-top: .1rem;
    border-style: solid;
    border-color: var(--color-black);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.images > .body {
    width: 100vw;
}

#inline {
    display: inline-block;
    vertical-align: top;
}

.images > .body {
    display: flex;
    flex-direction: column;
}

.image {
    width: 20rem;
    height: 20rem;
    margin: .5rem;
}

@media (min-width: 1280px) {
    
    .container {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 80vh;
    }
    
    
    .container > #content {
        width: 80vw;
        height: 80vh;
        overflow: scroll;
    }
    
    .cards {
        width: 80vw;
        flex-direction: row;
    }

    .cards > .card {
        flex-direction: column;
        width: 14.375rem;
        height: 18.75rem;
        border-radius: .8rem;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}